@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@theme {
  --text-color-main: #032a55;
  --text-color-submain: #173b60;
  --animate-codebar: codebar 1s cubic-bezier(1,0,0,1) infinite; 

  @keyframes codebar {
  50% {
    opacity: 0;
  }
}
}

body {
  @apply bg-white text-gray-900;
  font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
  @apply text-main
}

p, li, span {
  @apply text-submain;
}

